.create-game {
    display: flex;
    justify-content: center;
    margin: 1rem;


    .MuiStack-root {
        max-width: 520px;
        width: 100%;
        >div {
            margin-bottom: 1rem;
        }
    }
    
    .MuiToggleButtonGroup-root {
        width: 100%;
    }
    
    .MuiToggleButton-root {
        flex: 1;
    }
    
    .MuiTextField-root {
        width: 100%;
    }
    
    .date {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .buttons {
        display: flex;
        justify-content: center;

        button:not(:last-child) {
            margin-right: 20px;
        }
    }
}
